.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: #fff;
}

.nav-bar h1{
    font-size: 35px;
}

.nav-links{
    display: flex;
    gap: 20px;
    color: #fff;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    transition: 0.4s ease-out;
}

.nav-links a:hover{
    color: darkblue;
}
